<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="loginEmail">Email</label>
    <input
      type="email"
      name="loginEmail"
      id="loginEmail"
      placeholder="name@example.com"
      formControlName="email"
    />
  </div>

  <div>
    <label for="loginPassword">Password</label>
    <input
      type="password"
      name="loginPassword"
      id="loginPassword"
      formControlName="password"
    />
  </div>

  <input type="submit" value="Sign In" />
</form>
