nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
}

.nav-list {
  list-style-type: none;
  flex-direction: row;
}

.nav-list li {
  display: inline;
  padding: 0.5rem;
}

.nav-list li a {
  text-decoration: none;
  color: #004d40;
  border-bottom: 1px solid hsla(171, 26%, 57%, 60%);
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-buttons li {
  list-style-type: none;
  display: inline;
}

.nav-buttons li a {
  text-decoration: none;
  color: #004d40;
  border: 1px solid hsla(171, 26%, 57%, 60%);
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
}

.nav-buttons li a:hover {
  box-shadow: 0 4px 6px rgba(102, 153, 153, 0.1);
}

.nav-buttons li:first-of-type a {
  background-color: hsla(150, 70%, 82%, 0.6);
}

.nav-buttons li:first-of-type a:hover {
  background-color: hsla(150, 70%, 82%, 0.2);
}

.nav-buttons li:nth-of-type(2) a {
  background-color: hsla(218, 70%, 82%, 0.6);
}

.nav-buttons li:nth-of-type(2) a:hover {
  background-color: hsla(218, 70%, 82%, 0.2);
}
