<div class="container">
  <header>
    <div>
      <img src="" alt="Logo" />
    </div>

    <div>
      <nav>
        <ul role="list" class="nav-list">
          <li><a href="#">Solutions</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

        <div class="nav-buttons">
          <ul role="list" class="nav-list">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <div class="card">
      <h2>FrontEnd</h2>
      <p>
        Cupcake ipsum dolor sit amet topping gummi bears liquorice. Lemon drops
        gingerbread sweet gummi bears chupa chups chocolate bar dessert. Oat
        cake sweet dragée carrot cake sweet roll. Carrot cake tootsie roll
        soufflé icing chupa chups pastry croissant. Cheesecake bear claw
        tiramisu danish lollipop tart. Pastry marshmallow marzipan cake pastry
        icing. Icing tootsie roll jelly-o jelly-o icing bonbon pudding chocolate
        cake. Shortbread danish icing jelly beans muffin. Croissant tart wafer
        caramels cake marshmallow halvah. Cake pudding cake powder brownie
        muffin chupa chups candy canes.
      </p>
    </div>

    <div class="card">
      <h2>Design</h2>
      <p>
        Chocolate cake chocolate bar fruitcake soufflé tart cake. Caramels
        cookie lemon drops pastry pudding bear claw. Danish donut cheesecake
        dragée cake jelly beans danish cotton candy candy canes. Fruitcake
        marzipan jujubes muffin chocolate bar dragée. Caramels croissant apple
        pie halvah dragée chupa chups danish muffin shortbread. Jujubes carrot
        cake tiramisu liquorice marshmallow toffee cotton candy. Candy jujubes
        cotton candy pastry pudding jelly shortbread. Caramels tiramisu candy
        canes dessert lollipop.
      </p>
    </div>
  </main>

  <footer>
    <p>FrontEndDesign &copy; 2024</p>
  </footer>
</div>

<router-outlet />
