<nav>
  <ul role="list" class="nav-list">
    @for (navLink of navLinks; track navLink.label) {
      <li>
        <a [routerLink]="navLink.url">{{ navLink.label }}</a>
      </li>
    }
  </ul>

  <div class="nav-buttons">
    @if (isAuthenticated) {
      <ul>
        @for (navAuthLink of navAuthenticatedLinks; track navAuthLink.label) {
          <li>
            <a [routerLink]="navAuthLink.url">{{ navAuthLink.label }}</a>
          </li>
        }
        <li>
          <a [routerLink]="['/profile']">Profile</a>
        </li>
      </ul>
    } @else {
      <ul class="nav-list">
        @for (navGuestLink of navGuestLinks; track navGuestLink.label) {
          <li>
            <a [routerLink]="navGuestLink.url">{{ navGuestLink.label }}</a>
          </li>
        }
      </ul>
    }
  </div>
</nav>
