/* You can add global styles to this file, and also import other style files */
html {
  height: 100lvh;
  width: 100lvw;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at left, #c1edf8, transparent),
    radial-gradient(ellipse at right, hsl(110, 100%, 84%), transparent);
}
