<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="loginEmail">Email</label>
    <input
      type="email"
      name="loginEmail"
      id="loginEmail"
      placeholder="name@example.com"
      formControlName="email"
      required
    />
    <div
      *ngIf="
        loginForm.get('email')?.invalid &&
        (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)
      "
      class="formInputError"
    >
      <span *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required
      </span>

      <span *ngIf="loginForm.get('email')?.hasError('email')">
        Enter a valid email address
      </span>
    </div>
  </div>

  <div>
    <label for="loginPassword">Password</label>
    <input
      type="password"
      name="loginPassword"
      id="loginPassword"
      formControlName="password"
      required
    />
    <div
      *ngIf="
        (loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.touched ||
            loginForm.get('password')?.dirty)) ||
        serverError
      "
      class="formInputError"
    >
      <span *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </span>

      <span *ngIf="loginForm.get('password')?.hasError('minlength')">
        Password must be at least 6 characters
      </span>

      <span *ngIf="serverError">{{ serverError }}</span>
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
</form>
